.component-list-view {
    display: flex;
    flex-wrap: wrap;
}

.numbered-item,
.drag-numbered-item,
.insert-box {
    margin: 0 5px 5px 0;
    composes: majorBorder from '../../../styles.css';
    border-radius: 10px;
}

.numbered-item,
.drag-numbered-item {
    display: flex;
}

.drag-numbered-item {
    z-index: 1;
}

.number-div {
    display: flex;
    width: 30px;
    padding-top: 10px;
    justify-content: center;
    box-sizing: border-box;
    font-size: 18px;
    composes: minorTextColor from '../../../styles.css';
}

.list-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 4px 10px 5px;
    box-sizing: border-box;
}

.insert-box {
    height: 122px;
    box-sizing: border-box;
    padding: 5px;
}

.buttons {
    height: 100%;
    width: 32px
}